node_modules
build
.git
.gitignore
.vscode
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
local.db
uploads/
temp/
*.tsbuildinfo
.DS_Store
static/images/**/attribution.md
